<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AutorizacaoFilter</filter-name>
        <filter-class>br.senac.sp.filter.AutorizacaoFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutorizacaoFilter</filter-name>
        <url-pattern>/protegido/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.ExcluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutos</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBD</servlet-name>
        <servlet-class>br.senac.sp.servlet.ServletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.verProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teste</servlet-name>
        <servlet-class>br.senac.sp.servlet.teste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCliente</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>br.senac.sp.servlet.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraCliente</servlet-name>
        <servlet-class>br.senac.sp.servlet.AlteraCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>br.senac.sp.servlet.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loja</servlet-name>
        <servlet-class>br.senac.sp.servlet.Loja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsereProdutoVenda</servlet-name>
        <servlet-class>br.senac.sp.servlet.InsereProdutoVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FecharPedido</servlet-name>
        <servlet-class>br.senac.sp.servlet.FecharPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarVenda</servlet-name>
        <servlet-class>br.senac.sp.servlet.RegistrarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verCliente</servlet-name>
        <servlet-class>br.senac.sp.servlet.verCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProdutoVenda</servlet-name>
        <servlet-class>br.senac.sp.servlet.ExcluirProdutoVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarProdutoVenda</servlet-name>
        <servlet-class>br.senac.sp.servlet.CancelarProdutoVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprarProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.ComprarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVendas</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarVendas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verVenda</servlet-name>
        <servlet-class>br.senac.sp.servlet.verVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVendasUnidade</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarVendasUnidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVendasCliente</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarVendasCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVendasCategoria</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarVendasCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>br.senac.sp.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarFuncionario</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFuncionario</servlet-name>
        <servlet-class>br.senac.sp.servlet.CadastrarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionario</servlet-name>
        <servlet-class>br.senac.sp.servlet.AlterarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFuncionario</servlet-name>
        <servlet-class>br.senac.sp.servlet.ExcluirFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verFuncionario</servlet-name>
        <servlet-class>br.senac.sp.servlet.verFuncionario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutos</servlet-name>
        <url-pattern>/ListarProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBD</servlet-name>
        <url-pattern>/ServletBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verProduto</servlet-name>
        <url-pattern>/verProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teste</servlet-name>
        <url-pattern>/teste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCliente</servlet-name>
        <url-pattern>/ListarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraCliente</servlet-name>
        <url-pattern>/AlteraCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loja</servlet-name>
        <url-pattern>/Loja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsereProdutoVenda</servlet-name>
        <url-pattern>/InsereProdutoVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FecharPedido</servlet-name>
        <url-pattern>/FecharPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarVenda</servlet-name>
        <url-pattern>/RegistrarVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verCliente</servlet-name>
        <url-pattern>/verCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProdutoVenda</servlet-name>
        <url-pattern>/ExcluirProdutoVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarProdutoVenda</servlet-name>
        <url-pattern>/CancelarProdutoVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprarProduto</servlet-name>
        <url-pattern>/ComprarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVendas</servlet-name>
        <url-pattern>/ListarVendas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verVenda</servlet-name>
        <url-pattern>/verVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVendasUnidade</servlet-name>
        <url-pattern>/ListarVendasUnidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVendasCliente</servlet-name>
        <url-pattern>/ListarVendasCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVendasCategoria</servlet-name>
        <url-pattern>/ListarVendasCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarFuncionario</servlet-name>
        <url-pattern>/ListarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFuncionario</servlet-name>
        <url-pattern>/CadastrarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionario</servlet-name>
        <url-pattern>/AlterarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFuncionario</servlet-name>
        <url-pattern>/ExcluirFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verFuncionario</servlet-name>
        <url-pattern>/verFuncionario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/PaginaNaoEncontrada.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/AcessoProibido.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>protegido/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
