<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.ExcluirProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutos</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBD</servlet-name>
        <servlet-class>br.senac.sp.servlet.ServletBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verProduto</servlet-name>
        <servlet-class>br.senac.sp.servlet.verProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teste</servlet-name>
        <servlet-class>br.senac.sp.servlet.teste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCliente</servlet-name>
        <servlet-class>br.senac.sp.servlet.ListarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>br.senac.sp.servlet.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraCliente</servlet-name>
        <servlet-class>br.senac.sp.servlet.AlteraCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>br.senac.sp.servlet.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loja</servlet-name>
        <servlet-class>br.senac.sp.servlet.Loja</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsereProdutoVenda</servlet-name>
        <servlet-class>br.senac.sp.servlet.InsereProdutoVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FecharPedido</servlet-name>
        <servlet-class>br.senac.sp.servlet.FecharPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarVenda</servlet-name>
        <servlet-class>br.senac.sp.servlet.RegistrarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verCliente</servlet-name>
        <servlet-class>br.senac.sp.servlet.verCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutos</servlet-name>
        <url-pattern>/ListarProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBD</servlet-name>
        <url-pattern>/ServletBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verProduto</servlet-name>
        <url-pattern>/verProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teste</servlet-name>
        <url-pattern>/teste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCliente</servlet-name>
        <url-pattern>/ListarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraCliente</servlet-name>
        <url-pattern>/AlteraCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loja</servlet-name>
        <url-pattern>/Loja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsereProdutoVenda</servlet-name>
        <url-pattern>/InsereProdutoVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FecharPedido</servlet-name>
        <url-pattern>/FecharPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarVenda</servlet-name>
        <url-pattern>/RegistrarVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verCliente</servlet-name>
        <url-pattern>/verCliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
